* {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
      font-size: 100px;
      font-weight: bold;
      color: khaki;
      text-align: center;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: white; 
    }

  h3 {
    font-weight: bold;
     }

  .header {
    background-image: url('../images/image 1.jpeg');
  }

  .brushes {
    background-color: mediumspringgreen;
  }

  .item img {
      height: 200px;
      width: 200px;
   }

   .description em {
       font-weight: bold;
       color: blue;
   }

   .frames {
    background-color: lightcoral;
   }

   .paint {
    background-color: skyblue;
   }

  