* {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
      font-size: 100px;
      font-weight: bold;
      color: khaki;
      text-align: center;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: white; 
    }

  .header {
    background-image: url('../images/image 1.jpeg');
  }

  .brushes {
    background-color: mediumspringgreen;
  }